<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>
	
	<logger name="comp2001hka2p2.LibrariesWebApp" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>